<article class="card">
        <header class="title-header">
          <h3 class="card-title">{{show.name}}</h3>
        </header>
        <div class="card-block">
          <div class="img-card">
            <img [src]="show.image" alt="Movie" class="w-100 poster" />
          </div>
          <p class="tagline card-text text-center">{{show.network}}</p>
          <a target="_blank" class="btn btn-primary btn-block" [href]="show.link">
            <i class="fa fa-eye"></i> Details</a>
        </div>
      </article>