<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
  <a class="navbar-brand" [routerLink]="['/']">{{appName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngFor="let navItem of navItems">
        <a class="nav-link" [ngClass]="{active:navItem.active}" [routerLink]="navItem.routerLink">{{navItem.label}}
          <span class="sr-only" *ngIf="navItem.active">(current)</span></a>
      </li>
    </ul>
  </div>
  <div>
    <app-search></app-search>
  </div>
</nav>