
          :host >>> .tooltip-inner {
          background-color: #FF7768;
          color: #fff;
          }
          :host >>> .tooltip .tooltip-arrow {
          border-bottom-color: #FF7768;
          }